<template>
  <div>
<!--제목, 소제목(헤더)-->
    <div class="flex">
      <div>
        <h1 class="text-xl font-bold text-[#212121]">라이더 관리</h1>
        <h2 class="p-13 text-[#5e5e5e]">라이더 리스트</h2>
      </div>
      <div>
        <TwDropdownMenu align="left" width="48">
          <template #trigger>
            <TwButton variant="light"> 전체 </TwButton>
          </template>

          <template #content>
            <div
              class="block w-full px-4 py-2 text-sm leading-5 text-gray-700 dark:text-gray-200 text-left hover:bg-gray-100 dark:hover:bg-gray-900 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-800 transition"
            >
              <div class="flex gap-2 items-center">
                <div class="">단원구</div>
              </div>
            </div>
            <div
              class="block w-full px-4 py-2 text-sm leading-5 text-gray-700 dark:text-gray-200 text-left hover:bg-gray-100 dark:hover:bg-gray-900 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-800 transition"
            >
              <div class="flex gap-2 items-center">
                <div class="">상록구</div>
              </div>
            </div>
          </template>
        </TwDropdownMenu>
      </div>
    </div>


  </div>
</template>
<script setup lang="ts">
import {TwButton, TwDropdownMenu} from "vue3-tailwind";


</script>
